@charset "utf-8";
@font-face {
	font-family: CONDENSEicon;
	src: url("https://pocketresidence.jp/assets/common/css/CONDENSEicon.eot");
}

@font-face {
    font-family: 'CONDENSEicon';
    src:url('https://pocketresidence.jp/assets/common/css/CONDENSEicon.woff') format('woff'),
        url('https://pocketresidence.jp/assets/common/css/CONDENSEicon.otf') format('opentype');
}


body{
	font-family: "游ゴシック", YuGothic, "メイリオ", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	font-size: 13px;
	line-height: 2em;
	overflow-x: hidden;
	width: 100%;
	height: auto;
	color: #231815;
}

img{
border:none;
vertical-align:bottom;
}

a{
	color: #231815;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}



ul{
list-style-type:none;
}


hr{
display:none;
clear:both;
}

.left {
	float: left!important;
}
.clear_both {
	float: none!important;
}

.right {
	float: right!important;
}

#loading {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 200;
	left: 0px;
	top: 0px;
	background-color: #FFF;
	font-family: Quicksand;
}
#loading div {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 80px;
	width: 80px;
	margin-top: -40px;
	margin-left: -40px;
	font-size: 10px;
	padding-top:55px;
	box-sizing:border-box;
	text-align:center;
	letter-spacing:0.1em;
	animation-name: lineAnime03;
	animation-duration: 1.2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	animation-direction:alternate;
	-webkit-animation-name: lineAnime03;
	-webkit-animation-duration: 1.2s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-direction:alternate;
}
@keyframes lineAnime03{
	0%  {opacity:1;}
	100%{opacity:0;}
}
@-webkit-keyframes lineAnime03{
	0%  {opacity:1;}
	100%{opacity:0;}
}
#loading #mark{
	height: auto;
	width: 80px;
	margin-top: -40px;
	margin-left: -40px;
	position: absolute;
	left: 50%;
	top: 50%;
}
#loading #mark g{
	stroke:#C4970A;
	fill:none;
	stroke-width:0.5px;
	stroke-DASHarray:170;
	stroke-DASHoffset:170;
	animation-name: lineAnime02;
	animation-duration: 1.2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction:alternate;
	animation-fill-mode: forwards;
	-webkit-animation-name: lineAnime02;
	-webkit-animation-duration: 1.2s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction:alternate;
	-webkit-animation-fill-mode: forwards;
}
@keyframes lineAnime02{
	0%  {stroke-DASHoffset:170;fill:none;stroke-opacity:1;}
	100%{stroke-DASHoffset:0;fill:none;stroke-opacity:1;}
}
@-webkit-keyframes lineAnime02{
	0%  {stroke-DASHoffset:170;fill:none;stroke-opacity:1;}
	100%{stroke-DASHoffset:0;fill:none;stroke-opacity:1;}
}

.s_menu {
    display: block;
    text-indent: -9999px;
    height: 19px;
    width: 24px;
    position: absolute;
    top: 21px;
    right: 18px;
    z-index: 10!important;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #000;
    border-bottom-color: #000;
}
.s_menu:before {
	content:"";
	height: 1px;
	width: 24px;
	position: absolute;
	top: 9px;
	left: 0px;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000;
}
.s_menu:after {
	content:"";
	height: 1px;
	width: 24px;
	position: absolute;
	top: 9px;
	left: 0px;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000;
}

.s_menu.select {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.s_menu.select:before {
	content:"";
	height: 1px;
	width: 24px;
	position: absolute;
	top: 9px;
	left: 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
.s_menu.select:after {
	content:"";
	height: 1px;
	width: 24px;
	position: absolute;
	top: 9px;
	left: 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

header {
	width:100%;
	height: 65px;
	position:fixed;
	top:0px;
	left:0px;
	background-color:#FFF;
	z-index:100;
	box-sizing:border-box;
}
.head_line {
	width:100%;
	height:1px;
	position: absolute;
	bottom:0px;
	left:0px;
	background-color:#E6E6E6;
	opacity:0;
}
header h1 {
	float:left;
	width: 40px;
	position:absolute;
	top: 19px;
	left: 20px;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	z-index: 2;
}
header h1 #mark .st1{
	stroke-dasharray:3000;
	stroke-dashoffset:3000;
	-moz-animation:lineAnime_draw 4s ease-in-out .5s forwards;
	-webkit-animation:lineAnime_draw 4s ease-in-out .5s forwards;
	-o-animation:lineAnime_draw 4s ease-in-out .5s forwards;
	animation:lineAnime_draw 4s ease-in-out .5s forwards;
}
header h1 #mark .st2{
	stroke-dasharray:2000;
	stroke-dashoffset:2000;
	-moz-animation:lineAnime_draw 4s ease-in-out 1.5s forwards;
	-webkit-animation:lineAnime_draw 4s ease-in-out 1.5s forwards;
	-o-animation:lineAnime_draw 4s ease-in-out 1.5s forwards;
	animation:lineAnime_draw 4s ease-in-out 1.5s forwards;
}
header h1 #mark .st3{
	stroke-dasharray:2000;
	stroke-dashoffset:2000;
	-moz-animation:lineAnime_draw 3s ease-in-out 1.2s forwards;
	-webkit-animation:lineAnime_draw 3s ease-in-out 1.2s forwards;
	-o-animation:lineAnime_draw 3s ease-in-out 1.2s forwards;
	animation:lineAnime_draw 3s ease-in-out 1.2s forwards;
}
@keyframes lineAnime_draw{
	100%{stroke-dashoffset:0;}
}
@-moz-keyframes lineAnime_draw{
	100%{stroke-dashoffset:0;}
}
@-webkit-keyframes lineAnime_draw{
	100%{stroke-dashoffset:0;}
}
@-o-keyframes lineAnime_draw{
	100%{stroke-dashoffset:0;}
}
@-ms-keyframes lineAnime_draw{
	100%{stroke-dashoffset:0;}
}

@keyframes lineAnime_fade{
	0%{stroke-opacity:1;}
	100%{stroke-opacity:0;}
}
@-moz-keyframes lineAnime_fade{
	0%{stroke-opacity:1;}
	100%{stroke-opacity:0;}
}
@-webkit-keyframes lineAnime_fade{
	0%{stroke-opacity:1;}
	100%{stroke-opacity:0;}
}
@-o-keyframes lineAnime_fade{
	0%{stroke-opacity:1;}
	100%{stroke-opacity:0;}
}
@-ms-keyframes lineAnime_fade{
	0%{stroke-opacity:1;}
	100%{stroke-opacity:0;}
}
header h2 {
	width: 160px;
	position:absolute;
	top: 20px;
	left:50%;
	text-align: center;
	margin-left: -75px;
	-webkit-transition: all 0.3s ease;
	z-index: 2;
}
header .head_app {
	display:none;
}
#main_header #mainnavi {
	width: 100%;
	height: calc(100% - 65px);
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 1;
	background-color: rgba(255, 255, 255, 1);
	margin-top: 65px;
	overflow-y: scroll;
	display:none;
}

#main_header #mainnavi ul {
	width: 100%;
    margin: 20px auto auto auto;
	font-family: 'Quicksand', sans-serif;
}
#main_header #mainnavi ul li {
	float:left;
	width: 100%;
}
#main_header #mainnavi ul li:nth-child(even) {
	float:right;
}
#main_header #mainnavi ul li a {
	line-height: 1em;
	text-align: center;
	float: left;
	width: 100%;
	margin: 10px auto;
	padding-top: 14px;
	padding-bottom: 14px;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	font-size: 14px;
}
#main_header #mainnavi ul li a:hover {
	text-decoration:none;
	background-color:rgba(255,255,255,0.3);
}
#main_header #mainnavi ul li a.app {
	font-family: "游ゴシック", YuGothic, "メイリオ", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	margin-top: 10px;
	color: #FFF;
	background-color: #000;
	width:70%;
	margin-left:15%;
}
#main_header #mainnavi p {
	text-align:center;
	letter-spacing:0.1em;
	margin-top: 20px;
}

.head_icon{
	max-width: 30px;
}

#main_header #mainnavi .img_link{
	display: flex;
	justify-content: space-around;
	align-items: center;
	position:absolute;
	bottom: 250px;
	left:19%;
	text-align: center;
}

#main_header #mainnavi .img_link .mail{
	width: 25%;
}

#main_header #mainnavi .img_link .phone{
	width: 20%;
}





footer {
	width:100%;
	max-height: 10px;
	position:relative;
	box-sizing:border-box;
	justify-content: space-between;
}

footer h2 {
	float:left;
	width:100%;
	position:relative;
	text-align:center;
	font-size: 16px;
	font-weight: normal;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 0.1em;
}
footer h3 {
	float: left;
	width: 100%;
	position: relative;
	text-align: center;
	font-weight: normal;
	letter-spacing: 0.1em;
	margin-bottom: 30px;
	font-size: 12px;
}
.contact_btn {
	float:left;
	width: 100%;
	position:relative;
	margin-bottom: 20px;
}
.contact_btn li {
	float:left;
	width:100%;
	height:100%;
}
.contact_btn a {
	float:left;
	width: 100%;
	position: relative;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0.1em;
	font-family: 'Quicksand', sans-serif;
	background-color: #F2F2F2;
	background-image:url("../images/icon_arrow04.png");
	background-position: right 15px center;
	background-repeat:no-repeat;
	background-size:41px auto;
	margin-bottom: 20px;
	text-decoration:none;
	padding-top: 20px;
	padding-bottom:20px;
	box-sizing: border-box;
}


.contact_btn a span {
	float: left;
	width: 100%;
	text-align: center;
	font-size: 10px;
	letter-spacing: 0.1em;
	font-family: Quicksand, sans-serif;
	line-height: 1em;
	margin-top:2px;
}
.contact_btn2 {
	float:left;
	width: 100%;
	position:relative;
	margin-bottom: 50px;
	top: 100px;
}
.contact_btn2 a {
	float:left;
	width: 200px;
	height: 60px;
	position: absolute;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0.1em;
	font-family: 'Quicksand', sans-serif;
	background-color: #F2F2F2;
	background-image:url("../images/icon_arrow04.png");
	background-position: right 15px center;
	background-repeat:no-repeat;
	background-size:41px auto;
	margin: auto;
	text-decoration:none;
	padding: 10px 0;
	box-sizing: border-box;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.contact_btn2 a span {
	float: left;
	width: 100%;
	text-align: center;
	font-size: 10px;
	letter-spacing: 0.1em;
	font-family: Quicksand, sans-serif;
	line-height: 1em;
	margin-top:2px;
}


footer h4 {
	font-size: 13px;
	font-weight: 100;
	margin-left: 5px;
}

footer .social_icon {
	float: left;
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
}
footer .social_icon li {
	display: inline-block;
	margin-right: 15px;
	width: 20px;
}
footer .social_icon li:last-child {
	margin-right: 0px;
}
footer .social_icon li a {
	display: block;
	float:left;
	position:relative;
	top: 0px;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}
footer .social_icon li a:hover {
	top: 3px;
}
footer .social_icon li a img {
	float:left;
}


footer .copyright {
	float:left;
	width:100%;
	position:relative;
	text-align: center;
	font-size: 5px;
	letter-spacing: 0.1em;
	font-family: 'Quicksand', sans-serif;
	margin-right: 10px;
}

.footer_menu{
	font-size: 10px;
	font-weight: lighter;
	position: absolute;
	right: 0;
	top: 100%;
	width: 50%;
	text-align: center;
}

.footer_menu a{
	margin: 0 .5vw;
	position: relative;
	font-family: 'Quicksand', sans-serif;
}

.footer_menu a::before{
	content: "";
    width: 15px;
    height: .5px;
    background: #373737;
    position: absolute;
    top: 3%;
    right: 70%;
    transform: rotate(150deg);
}

.pc {
	display:none;
}




 *  Base Styles
/* ------------------------------------------------------------------------- */

 
strong { font-weight: bold; }
em { font-style: italic; }
blockquote {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}
 
/*  base : img
/* ------------------------------------ */
.aligncenter {
	display: block;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 20;
	margin-left: auto;
}
.alignright {
	float: right;
	margin-bottom: 20px;
	margin-left: 20px;
}
.alignleft {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
img[class*="wp-image-"],
img[class*="attachment-"] {
    max-width: 100%;
    height: auto;
}
