@charset "UTF-8";
#containar {
	float: left;
	width: 100%;
	position: relative;
	padding-top: 65px;
	box-sizing:border-box;
	overflow: hidden;
	background-color: white;

}
#contents {
	float: left;
	width: 100%;
	position:relative;
	padding-left:0;
	padding-right:0;
	box-sizing:border-box;
}



#pagetitle {
	float:left;
	width:100%;
	position:relative;
	margin-bottom: 25px;
	box-sizing: border-box;
}
#pagetitle h2 {
	float: left;
	width: 100%;
	position: relative;
	text-align: center;
	font-weight: normal;
	letter-spacing: 0.1em;
	line-height: 2em;
	padding-top: 35px;
	box-sizing: border-box;
	font-size: 13px;
}

#pagetitle h2 span {
	display:inline-block;
	width: 100%;
	font-size: 20px;
	letter-spacing: 0.1em;
	font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

#pagetitle h2:before {
	content:"";
	width: 80px;
	height:23px;
	position:absolute;
	top:0px;
	right: 10px;
	background-image:url("../images/pagetitle_slash01.png");
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
	display: none;
}
#pagetitle h2:after {
	content:"";
	width:80px;
	height:24px;
	position:absolute;
	bottom:0px;
	left: 10px;
	background-image:url("../images/pagetitle_slash02.png");
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
	display: none;
}




#service01 {
	padding-top: 20px;
	padding-bottom: 100px;
	box-sizing: border-box;
}

.service_bg{
	position: absolute;
	left: -15vw;
	top: 1%;
	background-color: #EFEFEF;
	height: 30%;
	width: 200%;
	transform: rotate(-15deg);
}

.service_bg_txt{
	font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	position: absolute;
	color: #F5F5F5;
	white-space: nowrap;
	font-size: 80px;
	letter-spacing:.2em;
	top: 33%;
	left: -44%;
	transform: rotate(270deg);
}

.service_menu{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20vw;
}

.menu_detail{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.service_menu a{
	background-color: white;
	border: 1px solid black;
	font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-size: 10px;
	font-weight: lighter;
	padding: 5px;
	margin: auto 15px;
	width: 30%;
	text-align: center;
}

#menu_1 h2, #menu_2 h2{
	background-color: white;
	border: 1px solid black;
	font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-size: 8px;
	font-weight: lighter;
	padding: 5px;
	width: 25%;
	text-align: center;
	transform: rotate(270deg);
	position: absolute;
	top: 5%;
	left: -10%;
}

#menu_1 p, #menu_2 p{
	font-family: 'Quicksand', sans-serif;
	font-size: 10px;
	font-weight: lighter;
	letter-spacing: 0.3em;
	line-height: 200%;
	width: 45%;
}

.menu_1_img, .menu_2_img{
	width: 130px;
	height: 130px;
	box-shadow: 30px 30px #bbbbbb;
	position: absolute;
	top: 5%;
	left: 20%;
}

#menu_1, #menu_2{
	position: relative;
	height: 80vw;
	margin-bottom: 60px;
}

#menu_1:hover, #menu_2:hover{
	opacity: 0.5;
}

.menu_1_img{
	background: url("../../service/images/lightning.jpg") no-repeat center center/cover;

}

#menu_1 p{
	position: absolute;
	top: 60%;
	right: 5%;
}

#menu_2 p{
	position: absolute;
	top: 60%;
	right: 5%;
}

.menu_2_img{
	background: url("../../service/images/solution.jpg") no-repeat center center/cover;
}



/*会社概要*/

.company01 {
	float:left;
	width: 100%;
	position:relative;
	text-align: center; /* 中央寄せ */
}
.company01 dl {
	width:100%;
	margin-bottom:30px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.company01 dt {
	width:25%;
	font-size:10px;
	letter-spacing:0.1em;
	margin: 2vw auto;
	background-color: white;
	padding: 0 5px;
	font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	border: .5px solid black;
}
.company01 dd {
	float:left;
	width:100%;
	position:relative;
	line-height: 2em;
	font-family: 'Quicksand', sans-serif;
}

.map_pc{
	display: none;
}

.company01 .img_link{
	display: flex;
	justify-content: center;
}

.company01 .img_link a:hover{
	opacity: 0.5;
}

.company01 .img_link img{
	width: 20%;
}

.eye_catch{
	width: 100%;
	height: 30vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.company_eye{
	background: url("../../about/images/company_img.jpg") no-repeat center center/cover;
}

.service_eye{
	background: url("../../service/images/service_eye.jpg") no-repeat center center/cover;
}

.contact_eye{
	background: url("../../common/images/contact.jpg") no-repeat center center/cover;
}

.eye_catch h1{
	font-size: 20px;
	font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	color: white;
}

.bg_txt{
	font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	position: absolute;
	color: #F5F5F5;
	white-space: nowrap;
	font-size: 50px;
	letter-spacing:.2em;
	top: 40%;
	right: -20%;
	transform: rotate(270deg);
}


#idx_contact{
	float:left;
	width:100%;
	position:relative;
	background: #EFEFEF;
	padding-top: 50px;
	padding-bottom: 70px;
}


#idx_contact h2 {
	width:100%;
	position:relative;
	text-align:center;
	font-size: 18px;
	letter-spacing: 0.1em;
	font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	padding-top: 25px;
	box-sizing: border-box;
	font-weight: normal!important;
	line-height: 100%;
	box-sizing: border-box;
}


#idx_contact h2 span{
	font-size: 8px;
}

#idx_contact h3{
	float:left;
	width:100%;
	position:relative;
	font-size: 10px;
	letter-spacing: 0.1em;
	font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	padding-top: 25px;
	margin: 0 35%;
	margin-bottom: 5%;
	box-sizing: border-box;
	font-weight: normal!important;
	line-height: 200%;
	box-sizing: border-box;
}

.caution{
	text-align: center;
	font-size: 10px;
	background: white;
	padding: 5px 10px;
	margin: 0 10% 10% 10%;
	border: 1px solid black;
}

.contact_in{
	margin: 5vw auto;
}

.contact_title{
	margin-top: 5vw;
}

.contact01{
	position: relative;
}

.cotact_wrap{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 200px;
}

.cotact_wrap p{
	font-size: 20px;
	line-height: 150%;
	font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

.contact_bg{
	position: absolute;
	right: -25vw;
	top: 20vw;
	background-color: #000000;
	height: 250px;
	width: 2000px;
	transform: rotate(15deg);
}

.contact_bg_txt{
	position: absolute;
	white-space: nowrap;
	font-size: 	100px;
	color: #F5F5F5;
	letter-spacing:.2em;
	top: 20%;
	right: 50%;
	font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	transform: rotate(270deg);
}

.formrun-embed{
	border: 1px solid black;
}