@charset "UTF-8";
#containar {
	float: left;
	width: 100%;
	position: relative;
	padding-top:180px;
	box-sizing:border-box;
}
#contents {
	float: left;
    width: 100%;
	position:relative;
	padding-left:50px;
	padding-right:50px;
	box-sizing:border-box;
}



#pagetitle {
	float:left;
	width:100%;
	position:relative;
	padding-top: 70px;
	margin-bottom: 110px;
	box-sizing: border-box;
}
#pagetitle h2 {
	float:left;
	width:440px;
	height: 120px;
	position:relative;
	left: 50%;
	margin-left: -220px;
	text-align: center;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 0.1em;
	line-height: 2em;
	background-image:url("../images/icon01.png");
	background-position: center top 20px;
	background-repeat:no-repeat;
	background-size:26px auto;
	padding-top: 50px;
	box-sizing: border-box;
}
#pagetitle h2 span {
	display:inline-block;
	width: 100%;
	font-size: 24px;
	letter-spacing: 0.1em;
	font-family: 'Quicksand', sans-serif;
}
#pagetitle h2:before {
	content:"";
	width:80px;
	height:23px;
	position:absolute;
	top:0px;
	right:0px;
	background-image:url("../images/pagetitle_slash01.png");
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
}
#pagetitle h2:after {
	content:"";
	width:80px;
	height:24px;
	position:absolute;
	bottom:0px;
	left:0px;
	background-image:url("../images/pagetitle_slash02.png");
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
}





#about01 h3 {
	float:left;
	width:100%;
	position:relative;
	font-size: 24px;
	font-weight: normal;
	letter-spacing: 0.1em;
	line-height: 1.8em;
	margin-bottom: 20px;
}
#about01 p.box01 {
	font-size: 16px;
	letter-spacing: 0.1em;
	margin-bottom: 40px;
}
#about01 .price01 {
	float:left;
	width: 100%;
	position: relative;
	margin-bottom: 20px;
}

#about01 .rent {
	float:left;
	width: 65px;
	position: relative;
	text-align: center;
	letter-spacing: 0.1em;
	line-height: 2em;
	margin-right: 12px;
}
#about01 .rent:before {
	content:"";
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	border-bottom: 1px solid #000000;
}
#about01 .price01 span {
	font-size: 34px;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 0.1em;
}
#about01 .price02 {
	float:left;
	width: 100%;
	position:relative;
}
#about01 .deposit {
	float:left;
	width: auto;
	font-size:12px;
	letter-spacing: 0.1em;
	margin-right: 20px;
	margin-top: 2px;
}
#about01 .price02 span {
	display: inline-block;
	font-size:20px;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 0.1em;
	margin-left: 10px;
}
#about01 .price02 span:before {
	content:"";
	width: 105px;
	position: absolute;
	top: 15px;
	left: 73px;
	border-top: 1px solid #000000;
}
#about01 .campaign {
	display: inline-block;
	width: auto;
	min-width: 174px;
	height: 33px;
	position: relative;
	font-size: 12px;
	line-height: 33px;
	text-align: center;
	background-color: #E6E6E6;
	border-radius: 3px;
	z-index: 0;
	box-sizing: border-box;
}
#about01 .campaign:before {
	content: "";
	position: absolute;
	top: 50%;
	left: -10px;
	margin-top: -6px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 4px 10px 4px 0;
	border-color: transparent #E6E6E6 transparent transparent;
}
#about01 .img01 {
	float: left;
	width: 245px;
	position: relative;
	margin-top: 140px;
}
#about01 .img02 {
	float: right;
	width: 207px;
	position: relative;
	margin-right: 30px;
}
#about02 p.box01 {
	text-align:center;
	font-size:16px;
	letter-spacing:0.1em;
}
#about03 .copy01 {
	float:left;
	width:580px;
	position:relative;
	font-size:16px;
	letter-spacing:0.1em;
	margin-left:250px;
}




#service01 {
	height:500px;
	background-image:url("../../service/images/image01.jpg");
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	padding-top: 140px;
	box-sizing: border-box;
}
#service01 h3 {
	float:left;
	width:100%;
	position:relative;
	font-size: 24px;
	font-weight: normal;
	letter-spacing: 0.1em;
	line-height: 1.8em;
	margin-bottom: 30px;
}
#service01 h3:before {
	content:"";
	width:380px;
	height:6px;
	position:absolute;
	bottom: -5px;
	left: 0px;
	background-image:url("../../service/images/icon_wave01.png");
	background-size:contain;
}
#service01 p.box01 {
	font-size: 16px;
	letter-spacing: 0.1em;
	margin-bottom: 40px;
}
#service01 .price01 {
	float:left;
	width: 100%;
	position: relative;
	margin-bottom: 20px;
}
#service01 .rent {
	float:left;
	width: 65px;
	position: relative;
	text-align: center;
	letter-spacing: 0.1em;
	line-height: 2em;
	margin-right: 12px;
}
#service01 .rent:before {
	content:"";
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	border-bottom: 1px solid #000000;
}
#service01 .price01 span {
	font-size: 34px;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 0.1em;
}
#service01 .price02 {
	float:left;
	width: 100%;
	position:relative;
}
#service01 .deposit {
	float:left;
	width: auto;
	font-size:12px;
	letter-spacing: 0.1em;
	margin-right: 20px;
	margin-top: 2px;
}
#service01 .price02 span {
	display: inline-block;
	font-size:20px;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 0.1em;
	margin-left: 10px;
}
#service01 .price02 span:before {
	content:"";
	width: 105px;
	position: absolute;
	top: 15px;
	left: 73px;
	border-top: 1px solid #000000;
}
#service01 .campaign {
	display: inline-block;
	width: auto;
	min-width: 174px;
	height: 33px;
	position: relative;
	font-size: 12px;
	line-height: 33px;
	text-align: center;
	background-color: #FFF;
	border-radius: 3px;
	z-index: 0;
	box-sizing: border-box;
}
#service01 .campaign:before {
	content: "";
	position: absolute;
	top: 50%;
	left: -10px;
	margin-top: -6px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 4px 10px 4px 0;
	border-color: transparent #FFF transparent transparent;
}
#service02 h3 {
	float:left;
	width: 100%;
	position: relative;
	font-size: 26px;
	font-weight: normal;
	letter-spacing: 0.1em;
	margin-bottom: 10px;
}
#service02 h4 {
	float:left;
	width: 100%;
	position: relative;
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 0.1em;
	margin-bottom: 20px;
}
#service02 p.box01 {
	font-size:16px;
	letter-spacing: 0.1em;
	line-height: 2em;
}




#place01 h3 {
	float:left;
	width:100%;
	position:relative;
	text-align: center;
	font-size: 25px;
	font-weight: normal;
	letter-spacing: 0.1em;
	line-height: 1.5em;
	margin-bottom: 20px;
}
#place01 h3 span {
	display:inline-block;
	width:100%;
	font-size: 18px;
	letter-spacing: 0.1em;
	font-family: 'Quicksand', sans-serif;
}
#place01 p {
	float:left;
	width:100%;
	position:relative;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0.1em;
	margin-bottom: 40px;
}
#place01 #map_canvas {
	float:left;
	width:100%;
	height:440px;
	position:relative;
	overflow:hidden;
	margin-bottom:70px;
}
#place01 .access01 {
	float:left;
	width: 100%;
	position: relative;
	border: 1px solid #231815;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	margin-bottom: 40px;
	box-sizing: border-box;
}
#place01 .access01 dt {
	float:left;
	width: 55px;
	position: relative;
	padding-top: 22px;
	box-sizing: border-box;
	letter-spacing: 0.1em;
}
#place01 .access01 dd {
	float:left;
	width: 88%;
	position: relative;
	border-left: 1px solid #231815;
	padding-top: 22px;
	padding-bottom: 22px;
	padding-left: 30px;
	box-sizing: border-box;
	font-size: 16px;
	letter-spacing: 0.1em;
}
#place01 .access01 dd span {
	font-size:20px;
}
#place01 .access02 {
	float:left;
	width: 235px;
	height: 116px;
	position: relative;
	border: 1px solid #231815;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0.1em;
	margin-right: 40px;
	padding-top: 25px;
	box-sizing: border-box;
	margin-bottom: 40px;
}
#place01 .access02:nth-child(2n) {
	margin-right:0px;
}
#place01 .access02 dt {
	float:left;
	width: 100%;
	position: relative;
}
#place01 .access02 dd {
	float:left;
	width: 100%;
	position: relative;
}
#place01 .access02 dd span {
	font-size:20px;
}





.rule01 {
	float:left;
	width:700px;
	position:relative;
	margin-left:190px;
}
.rule01 dl {
	float:left;
	width:100%;
	position:relative;
	margin-bottom:60px;
}
.rule01 dt {
	float:left;
	width:100%;
	position:relative;
	font-size:18px;
	font-weight:bold;
	letter-spacing:0.1em;
	margin-bottom: 5px;
}
.rule01 dd {
	float:left;
	width:100%;
	position:relative;
	font-size:16px;
	line-height: 2em;
}

/*会社概要*/
.eye_catch{
	width: 100%;
	height: 20vw;
	background: green;
}

.company01 {
	float:left;
	width:700px;
	position:relative;
	margin-left:190px;
	text-align: center; /* 中央寄せ */
}
.company01 dl {
	float:left;
	width:100%;
	position:relative;
	margin-bottom:60px;
}
.company01 dt {
	float:left;
	width:100%;
	position:relative;
	font-size:18px;
	font-weight:bold;
	letter-spacing:0.1em;
	margin-bottom: 5px;
}
.company01 dd {
	float:left;
	width:100%;
	position:relative;
	font-size:16px;
	line-height: 2em;
}


.faq01 {
	float:left;
	width:100%;
	position:relative;
	border-left: 1px solid #231815;
	border-right: 1px solid #231815;
	padding-left: 67px;
	padding-right: 67px;
	padding-top: 40px;
	padding-bottom: 30px;
	margin-bottom: 80px;
	box-sizing: border-box;
}
.faq01:before {
	content:"";
	width: 38px;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	border-top: 1px solid #231815;
	border-bottom: 1px solid #231815;
	box-sizing: border-box;
}
.faq01:after {
	content:"";
	width: 38px;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	border-top: 1px solid #231815;
	border-bottom: 1px solid #231815;
	box-sizing: border-box;
}
.faq01 .q {
	float:left;
	width: 100%;
	position: relative;
	margin-bottom: 40px;
}
.faq01 .q dt {
	float:left;
	width: 38px;
	position: relative;
	font-size: 18px;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 0.1em;
	padding-top: 4px;
	box-sizing: border-box;
}
.faq01 .q dd {
	float:left;
	width: 95%;
	position: relative;
	font-size: 16px;
	letter-spacing: 0.1em;
	border-left: 1px solid #000000;
	padding-left: 20px;
	padding-top: 4px;
	padding-bottom: 4px;
	box-sizing: border-box;
}
.faq01 .a {
	float:left;
	width: 100%;
	position: relative;
}
.faq01 .a dt {
	float:left;
	width: 38px;
	position: relative;
	font-size: 18px;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 0.1em;
	padding-top: 4px;
	box-sizing: border-box;
}
.faq01 .a dd {
	float:left;
	width: 95%;
	position: relative;
	letter-spacing: 0.1em;
	border-left: 1px solid #000000;
	padding-left: 20px;
	padding-top: 4px;
	padding-bottom: 4px;
	box-sizing: border-box;
}




#mailform input {
    font-size: 14px;
    padding: 14px;
    border: none;
    border-bottom: 1px solid #231815;
    box-sizing: border-box;
    font-family: "游ゴシック", YuGothic, "メイリオ", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
#mailform td {
	height: 140px;
	vertical-align: top;
	width: 50%;
}
label.error {
	color: red;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.4;
	margin-top: 0.5em;
	width: 100%;
	float: none;
	display: inline-block;
}
input[type="checkbox"] {
	width:14px;
	height:14px;
	margin: 0px 10px!important;
}
input[type="radio"] {
    vertical-align: baseline;
}
.form01 {
	width: 100%;
	height: 178px;
	padding: 15px;
	font-size: 14px;
	border: none;
	border-bottom: 1px solid #231815;
	box-sizing: border-box;
	font-family: "游ゴシック", YuGothic, "メイリオ", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
.send {
    text-align: center;
    float: left;
    width: 100%;
	margin-top:20px;
}
.sendbtn01 {
	display:inline-block;
	width: 260px;
	position:relative;
	text-align:center;
	font-size: 17px;
	letter-spacing: 0.1em;
	border: 1px solid #000000;
	background-color:#FFF;
	padding-bottom: 17px;
	padding-top: 17px;
	box-sizing: border-box;
	background-image:url("../images/icon_arrow05.png");
	background-position: right 15px center;
	background-repeat:no-repeat;
	background-size: 18px auto;
	cursor:pointer;
}
.sendbtn01:before {
	content:"";
	float:left;
	width: 260px;
	height: 1px;
	position: absolute;
	border-bottom: 1px solid #1a1311;
	bottom: -6px;
	left: 3px;
}
.sendbtn01:after {
	content:"";
	float:left;
	width: 1px;
	height: 62px;
	position: absolute;
	border-right: 1px solid #1a1311;
	bottom: -6px;
	right: -6px;
}
.sendbtn01:hover {
	text-decoration: none;
	top: 3px;
	left: 2px;
	margin-bottom: -10px;
	opacity:1;
}
.sendbtn01:hover:before {
	right: -3px;
	top: 0px;
	opacity:0;
}
.sendbtn01:hover:after {
	bottom: -3px;
	left: 0px;
	opacity:0;
}
.sendbtn02 {
	display:inline-block;
	width: 260px;
	position:relative;
	text-align:center;
	font-size: 17px;
	letter-spacing: 0.1em;
	border: 1px solid #000000;
	background-color:#FFF;
	padding-bottom: 17px;
	padding-top: 17px;
	box-sizing: border-box;
	background-image:url("../images/icon_arrow05.png");
	background-position: right 15px center;
	background-repeat:no-repeat;
	background-size: 18px auto;
	margin-right: 40px;
	cursor:pointer;
}
.sendbtn02:before {
	content:"";
	float:left;
	width: 260px;
	height: 1px;
	position: absolute;
	border-bottom: 1px solid #1a1311;
	bottom: -6px;
	left: 3px;
}
.sendbtn02:after {
	content:"";
	float:left;
	width: 1px;
	height: 62px;
	position: absolute;
	border-right: 1px solid #1a1311;
	bottom: -6px;
	right: -6px;
}
.sendbtn02:hover {
	text-decoration: none;
	top: 3px;
	left: 2px;
	margin-bottom: -10px;
	opacity:1;
}
.sendbtn02:hover:before {
	right: -3px;
	top: 0px;
	opacity:0;
}
.sendbtn02:hover:after {
	bottom: -3px;
	left: 0px;
	opacity:0;
}




.news01 {
	float:left;
	width:786px;
	position:relative;
	margin-left:147px;
}
.wp-pagenavi  {
	float: left;
	width: 100%;
	text-align: center;
	font-size: 16px;
	line-height: 1em;
	letter-spacing: 0.2em;
	font-weight: bold;
	margin-bottom: 100px;
	font-family: 'Quicksand', sans-serif;
}
.wp-pagenavi a {
	display: inline-block;
	border: none;
	text-decoration: none;
	padding: 0;
	margin: 0;
}
.wp-pagenavi a:hover {
	text-decoration: none;
}
.wp-pagenavi .previouspostslink {
	width: 83px;
	padding-bottom: 10px;
	margin-right: 40px;
	border-bottom: 1px solid #231815;
	box-sizing:border-box;
}
.wp-pagenavi .larger {
	width: 35px;
	padding-bottom: 10px;
	margin-right: 20px;
	text-align: center;
	border-bottom: 1px solid #231815;
	box-sizing:border-box;
}
.wp-pagenavi .smaller {
	padding-top: 10px;
	padding-right: 13px;
	padding-bottom: 10px;
	padding-left: 12px;
	margin-right: 10px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0px 2px 0px #EDEDED;
	-moz-box-shadow: 0px 2px 0px #EDEDED;
	-webkit-box-shadow: 0px 2px 0px #EDEDED;
	border: 1px solid #231815;
	box-sizing:border-box;
}
.wp-pagenavi .current {
	width: 35px;
	padding-bottom: 10px;
	margin-right: 20px;
	border-bottom: 1px dotted #231815;
	box-sizing:border-box;
	display:inline-block;
}
.wp-pagenavi .backpostslink {
	width: 160px;
	padding-bottom: 10px;
	border-bottom: 1px solid #231815;
	letter-spacing: 0.1em;
	box-sizing:border-box;
}
.wp-pagenavi .nextpostslink {
	width: 83px;
	padding-bottom: 10px;
	border-bottom: 1px solid #231815;
	margin-left: 20px;
	box-sizing:border-box;
}
.wp-pagenavi .pages {
	display: none;
}




.pagenavi {
	text-align: center;
	float: left;
	width: 100%;
	line-height: 1em;
	font-size: 16px;
	position:relative;
	font-weight:bold;
	margin-bottom: 80px;
}
.pagenavi a:hover {
	text-decoration: none;
	opacity:0.4;
}
.pagenavi a {
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}


.pagenavi .previouspostslink a {
	width: 83px;
	padding-bottom: 15px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-bottom: 1px solid #231815;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 0.1em;
	box-sizing: border-box;
}
.pagenavi .nextpostslink a {
	width: 83px;
	padding-bottom: 15px;
	position: absolute;
	right: 0px;
	top: 0px;
	border-bottom: 1px solid #231815;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 0.1em;
	box-sizing: border-box;
}
.backpostslink a {
	width: 183px;
	padding-bottom: 20px;
	display: inline-block;
	border-bottom: 1px solid #231815;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 0.1em;
	box-sizing: border-box;
}
