@charset "utf-8";
header {
	border-bottom:1px solid #FFF!important;
}
.is-animation {
  border-bottom:1px solid #E6E6E6!important;
}

#idx_containar {
	float:left;
	width: 100%;
	position: absolute;
	top: 100%;
	left:0px;
	z-index:1;
	overflow: hidden;
}
#idx_contents {
    float: left;
    width: 100%;
    position:relative;
}

/**/
/**/
#idx_error {
	width:100%;
	height:100%;
	position: relative;
	box-sizing:border-box;
	min-height: 150px;
}

#idx_error h2 {
    color: #c09853;
	width: 100%;
	position: absolute;
    bottom: 7px;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 0.1em;
}

#idx_main {
	width:100%;
	height: 100%;
	position: relative;
	background-image:url("../../index/images/idx_main_1.jpg");
	background-position: center bottom;
	background-repeat:no-repeat;
	background-size:cover;
	padding-top: 65px;
	box-sizing:border-box;
	overflow: hidden;
	min-height: 90vh;
}
#idx_main h2 {
	width: 100%;
	position: absolute;
	top: 35%;
	right: 60px;
	text-align: right;
	font-size: 25px;
	font-weight: normal;
	font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	color: white;
	margin: 20px auto;
}
#idx_main h2 span {
	margin-top:30px;
	display:inline-block;
	width:100%;
	font-size: 15px;
	letter-spacing: 0.1em;
}

#idx_main a.down_arrow {
	position: absolute;
	bottom: 300px;
	left: 48%;
	width: 20px;
	height: 20px;
	font-weight: normal;
	letter-spacing: 0.1em;
    border-top: 1px solid white;
    border-right: 1px solid white;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}


#idx_main2 {
	width:100%;
	height: 100%;
	position: relative;
	background-image:url("../../index/images/idx_main_2.jpg");
	background-position: center bottom;
	background-repeat:no-repeat;
	background-size:cover;
	padding-top: 65px;
	box-sizing:border-box;
	overflow: hidden;
	min-height: 50vh;
}

#idx_main2::before{
	/* 透過した黒を上から重ねるイメージ */
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}

#idx_main2 h2 {
	width: 100%;
	position: absolute;
	top: 25%;
	left: 20px;
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 0.1em;
	color: white;
	font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
#idx_main2 h2 span {
	display:inline-block;
	width:100%;
	font-size: 15px;
	letter-spacing: 0.1em;
}

#idx_main2 a.down_arrow {
	position: absolute;
	top: 250px;
	left: 48%;
	width: 20px;
	height: 20px;
	font-weight: normal;
	letter-spacing: 0.1em;
    border-top: 1px solid white;
    border-right: 1px solid white;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

#idx_about {
	float:left;
	width:100%;
	position:relative;
	background-image:url("../../index/images/about_bg.jpg");
	background-position:center left -30px;
	background-repeat:no-repeat;
	background-size: auto 100%;
	background-color:#F2F2F2;
	padding-top: 30px;
	padding-bottom: 60px;
	margin-bottom: 30px;
	box-sizing: border-box;
}

#idx_about::before{
	/* 透過した黒を上から重ねるイメージ */
	background-color: rgba(255, 255, 255, 0.7);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}

#idx_about h2 {
	float:left;
	width:100%;
	position:relative;
	text-align:center;
	font-size: 18px;
	letter-spacing: 0.1em;
	font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	margin:10px auto;
	box-sizing: border-box;
	font-weight:normal;
}

#idx_about h2 span{
	font-size: 8px;
}

.middle_txt{
	padding-bottom: 150px;
}

#idx_about div.box01 {
	padding-top: 40%;
}

#idx_about h3 {
	float:left;
	width:100%;
	position:relative;
	text-align:center;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 0.1em;
	line-height: 1.8em;
	margin-bottom: 20px;
}
#idx_about p.box01 {
	letter-spacing:0.1em;
	margin-bottom: 20px;
}
#idx_about .price01 {
	float:left;
	width: 300px;
	height: 88px;
	position: relative;
	left: 50%;
	margin-left: -150px;
	padding-top: 25px;
	padding-left: 50px;
	box-sizing: border-box;
	margin-bottom: 30px;
}
#idx_about .price01:before {
	content:"";
	float:left;
	width: 59px;
	height: 18px;
	position:absolute;
	top:0px;
	right:0px;
	background-image:url("../images/pagetitle_slash01.png");
	background-position:right top;
	background-repeat:no-repeat;
	background-size:contain;
}
#idx_about .price01:after {
	content:"";
	float:left;
	width: 58px;
	height: 17px;
	position:absolute;
	bottom:0px;
	left:0px;
	background-image:url("../images/pagetitle_slash02.png");
	background-position:left bottom;
	background-repeat:no-repeat;
	background-size:contain;
}
#idx_about .rent {
	float:left;
	width: 55px;
	position: relative;
	text-align: center;
	font-size: 12px;
	letter-spacing: 0.1em;
	line-height: 2em;
	margin-right: 12px;
}
#idx_about .rent:before {
	content:"";
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	border-bottom: 1px solid #000000;
}
#idx_about .price01 span {
	font-size: 24px;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 0.1em;
}
#idx_about .price02 {
	float:left;
	width: 100%;
	position: relative;
	text-align: right;
	padding-right: 30%;
	box-sizing: border-box;
}
#idx_about .deposit {
	float: left;
	width: 100%;
	position: relative;
	font-size:12px;
	letter-spacing: 0.1em;
}
#idx_about .price02 span {
	display: inline-block;
	font-size:20px;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 0.1em;
	margin-left: 10px;
	position:relative;
}
#idx_about .price02 span:before {
	content:"";
	width: 100%;
	position: absolute;
	top: 13px;
	right: 0px;
	border-top: 1px solid #000000;
}
#idx_about .campaign {
	float:left;
	width: 100px;
	height: 100px;
	position: absolute;
	bottom: -10px;
	right: -8px;
	text-align: center;
	font-size: 10px;
	letter-spacing: 0.1em;
	line-height: 1.5em;
	background-image:url("../../index/images/fukudashi.png");
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
	padding-top: 35px;
	padding-left: 15px;
	box-sizing: border-box;
}
#idx_about .img01 {
	width: 40%;
	position:absolute;
	top: 90px;
	left: 20px;
}
#idx_about .img02 {
	width: 40%;
	position:absolute;
	top: 90px;
	right: 20px;
}

#idx_about .btn01 {
	background-color: #FFF;
}




#idx_service {
	float:left;
	width:100%;
	position:relative;
	margin-bottom: 30px;
	box-sizing: border-box;
}

#idx_service h2 {
	float:left;
	width:100%;
	position:relative;
	text-align:center;
	font-size: 18px;
	letter-spacing: 0.1em;
	font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	padding-top: 25px;
	margin-bottom: 40px;
	box-sizing: border-box;
	font-weight:normal;
}
#idx_service h2 span{
	font-size: 8px;
}
#idx_service .point_list {
	float:left;
	width:100%;
	position:relative;
}

#idx_service .point_list li {
	float:left;
	width: 70%;
	position: relative;
	margin-right: 15%;
	margin-left: 15%;
	margin-bottom: 100px;
	text-align: center;
}

#idx_service .point_list svg{
	width: 45%;
}

#idx_service .point_list .svg_right svg{
	width: 60%;
}

#idx_service .point_list li h3 {
	float:left;
	width:100%;
	position:relative;
	text-align:center;
	margin-bottom: 30px;
}
#idx_service .point_list li h4 {
	float:left;
	width:100%;
	position:relative;
	text-align:center;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 0.1em;
}
#idx_service .point_list li div {
	float:left;
	width: 100%;
	height: 160px;
	position: relative;
	text-align: center;
	padding-top: 40px;
	box-sizing: border-box;
}
#idx_service .point_list li:first-child div {
	padding-top: 25px;
}
#idx_service .point_list li:nth-child(3) div {
	padding-top: 50px;
}
#idx_service .point_list li p {
	float:left;
	width:100%;
	position:relative;
	text-align:center;
	font-size: 13px;
	letter-spacing: 0.1em;
	font-family: 'Quicksand', sans-serif;
}
#idx_service .point_list li p:before {
	content:"";
	width:9px;
	height:25px;
	position:absolute;
	bottom:0px;
	left:0px;
	background-image:url("../images/icon_slash01_01.png");
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
}
#idx_service .point_list li p:after {
	content:"";
	width:9px;
	height:25px;
	position:absolute;
	bottom:0px;
	right:0px;
	background-image:url("../images/icon_slash01_02.png");
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
}




#idx_place {
	float:left;
	width:100%;
	position:relative;
	margin-bottom: 80px;
}
#idx_place h2 {
	float:left;
	width:100%;
	position:relative;
	text-align:center;
	font-size: 18px;
	letter-spacing: 0.1em;
	background-image:url("../images/icon01.png");
	background-position:center top;
	background-repeat:no-repeat;
	background-size: 26px auto;
	font-family: 'Quicksand', sans-serif;
	padding-top: 25px;
	margin-bottom: 40px;
	box-sizing: border-box;
	font-weight:normal;
}
#idx_place h2 span{
	font-size: 8px;
}
#idx_place h3 {
	float:left;
	width:100%;
	position:relative;
	text-align: center;
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 0.1em;
	line-height: 1.5em;
	margin-bottom: 10px;
}
#idx_place h3 span {
	display:inline-block;
	width:100%;
	font-size: 15px;
	letter-spacing: 0.1em;
	font-family: 'Quicksand', sans-serif;
}
#idx_place p {
	float:left;
	width:100%;
	position:relative;
	text-align: center;
	font-size: 14px;
	letter-spacing: 0.1em;
	margin-bottom: 40px;
}
#idx_place #map_canvas {
	float:left;
	width:100%;
	position:relative;
	overflow: visible;
	margin-bottom: 40px;
}




#idx_faq {
	float:left;
	width:100%;
	position:relative;
	border-bottom:1px solid #E6E6E6;
	padding-bottom: 60px;
	margin-bottom: 60px;
	box-sizing:border-box;
}
#idx_faq h2 {
	float:left;
	width:100%;
	position:relative;
	text-align:center;
	font-size: 18px;
	letter-spacing: 0.1em;
	background-image:url("../images/icon01.png");
	background-position:center top;
	background-repeat:no-repeat;
	background-size: 26px auto;
	font-family: 'Quicksand', sans-serif;
	padding-top: 25px;
	margin-bottom: 40px;
	box-sizing: border-box;
	font-weight:normal;
}
#idx_faq h2 span{
	font-size: 8px;
}
#idx_faq .faq01 {
	float:left;
	width: 100%;
	position: relative;
}
#idx_faq .faq01 dl {
	float:left;
	width: 100%;
	position: relative;
}
#idx_faq .faq01 .q {
	cursor:pointer;
	margin-bottom:20px;
}
#idx_faq .faq01 .a {
	display:none;
	margin-bottom:20px;
}
#idx_faq .faq01 dt {
	float: left;
	width: 10%;
	position: relative;
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
	padding-right: 10px;
	box-sizing: border-box;
}
#idx_faq .faq01 dd {
	float:left;
	width: 90%;
	position: relative;
	border-left: 1px solid #000000;
	letter-spacing: 0.1em;
	padding-top: 3px;
	padding-left: 15px;
	box-sizing: border-box;
}
#idx_faq .faq01 .q dd {
	font-size: 15px;
}




#idx_news {
	float:left;
	width:100%;
	position:relative;
	padding-bottom: 40px;
	box-sizing: border-box;
}
#idx_news h2 {
	float:left;
	width: 100%;
	position: relative;
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 0.1em;
	font-family: 'Quicksand', sans-serif;
	box-sizing: border-box;
	margin-bottom: 30px;
}
#idx_news .idx_news_article {
	float:left;
	width: 100%;
	position: relative;
}
#idx_news .idx_news_article a:hover {
	opacity:0.5;
}
#idx_news .idx_news_article .news01 {
	float:left;
	width: 100%;
	position: relative;
	margin-bottom: 20px;
	letter-spacing: 0.1em;
}
#idx_news .idx_news_article .news01 dt {
	float:left;
	width: 100%;
	position: relative;
}
#idx_news .idx_news_article .news01 dd {
	float:left;
	width: 100%;
	position: relative;
}




#idx_contact{
	float:left;
	width:100%;
	position:relative;
	background: #EFEFEF;
	padding-top: 40px;
	padding-bottom: 70px;
}

#idx_contact h2 {
	float:left;
	width:100%;
	position:relative;
	text-align:center;
	font-size: 18px;
	letter-spacing: 0.1em;
	font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	padding-top: 25px;
	box-sizing: border-box;
	font-weight: normal!important;
	line-height: 100%;
	box-sizing: border-box;

}

#idx_contact h2::before{
	content:"";
	width:25px;
	height:25px;
	position:absolute;
	top:5px;
	right: 70px;
	background-image:url("../images/pagetitle_slash01.png");
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
}

#idx_contact h2::after{
	content:"";
	width:25px;
	height:25px;
	position:absolute;
	bottom:-5px;
	left:70px;
	background-image:url("../images/pagetitle_slash02.png");
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
}

#idx_contact h2 span{
	font-size: 8px;
}

#idx_contact h3{
	font-size: 10px;
	letter-spacing: 0.1em;
	font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	box-sizing: border-box;
	font-weight: normal!important;
	line-height: 200%;
	box-sizing: border-box;
}

.idx_contact_in{
	display: flex;
	justify-content: center;
	width:100%;
	padding-top: 25px;
	margin-bottom: 5%;
}



/* ?N???A?t?B?b?N?X */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	color: #CC9900;
}
.clearfix {
	display: inline-table;
	min-height: 1%;
	margin-bottom: 0px;
	overflow: auto;
}
/* Hides from IE-mac \*/
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
	overflow: hidden;
}
/* End hide from IE-Mac */
